package ${package.Mapper};

import ${package.Entity}.${entity};
##import ${superMapperClassPackage};
import com.prolog.framework.dao.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * @auther ${author}
 * @create ${cfg.dateTime}
 * @describe $!{table.comment}mapper类
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
@Mapper
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

}
#end